body {
  font-family: 'Sofia Pro';
  background-color: #1d1d1d;
}

.box {
  width: 100%;
  padding: 100px 0 0 0;
}

.box .container {
  width: 1060px;
  margin: 0 auto;
}

.box .container h1 {
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  margin: 0 0 30px 0;
}

.box .container .accordion {
  width: 100%;
}

.box .container .accordion .accordionColumn {
  margin: 0 0 15px 0;
  overflow: hidden;
  transition: height .4s ease-in-out;
  border-radius: 8px;
}

.box .container .accordion .accordionColumn:nth-child(3n+3) .title {
  background-color: #0ACF83;
}

.box .container .accordion .accordionColumn:nth-child(3n+2) .title {
  background-color: #A334FB;
}

.box .container .accordion .accordionColumn.open .title::before {
  background: url(../img/minus-icon.png);
  height: 2px;
  top: calc(50% - 1px);
}

.box .container .accordion .accordionColumn .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  background-color: #474DFF;
  color: #ffffff;
  position: relative;
  padding: 20px 85px 20px 30px;
  cursor: pointer;
}

.box .container .accordion .accordionColumn .title::before {
  content: "";
  position: absolute;
  right: 30px;
  top: calc(50% - 13px);
  background: url(../img/plus-icon.png);
  width: 26px;
  height: 26px;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.box .container .accordion .accordionColumn .desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  background-color: #353535;
  color: #ffffff;
  border-radius: 3px;
  padding: 20px 30px;
}

.box .container .accordion .accordionColumn .desc a {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: underline;
}

.box .container .accordion .accordionColumn .desc ul {
  width: 100%;
  margin: 15px 0 0 0;
  padding: 0 0 0 20px;
}

.box .container .accordion .accordionColumn .desc ul li {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  padding: 0 0 0 20px;
}

.box .container .accordion .accordionColumn .desc ul li:nth-child(3n+3)::before {
  background-color: #0ACF83;
}

.box .container .accordion .accordionColumn .desc ul li:nth-child(3n+2)::before {
  background-color: #A334FB;
}

.box .container .accordion .accordionColumn .desc ul li::before {
  content: "";
  background-color: #474DFF;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: calc(50% - 2.5px);
}

.box .container .devLinkBox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.box .container .devLinkBox a {
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
}

@media screen and (max-width: 1199px) {
  .box .container {
    width: 100%;
    padding: 0 30px;
  }
}

@media screen and (max-width: 991px) {
  .box {
    padding: 75px 0 0 0;
  }
  .box .container h1 {
    font-size: 40px;
  }
  .box .container .accordion .accordionColumn {
    margin: 0 0 10px 0;
  }
  .box .container .accordion .accordionColumn .title {
    font-size: 20px;
    line-height: 26px;
    padding: 15px 65px 15px 25px;
  }
  .box .container .accordion .accordionColumn .title::before {
    width: 20px;
    height: 20px;
    background-size: contain;
    right: 25px;
    top: calc(50% - 10px);
  }
  .box .container .accordion .accordionColumn .desc {
    font-size: 16px;
    line-height: 26px;
    padding: 15px 25px;
  }
}

@media screen and (max-width: 767px) {
  .box {
    padding: 50px 0 0 0;
  }
  .box .container {
    padding: 0 15px;
  }
  .box .container h1 {
    font-size: 30px;
  }
  .box .container .accordion .accordionColumn {
    margin: 0 0 5px 0;
  }
  .box .container .accordion .accordionColumn.open .title::before {
    height: 1px;
    top: calc(50% - 0.5px);
  }
  .box .container .accordion .accordionColumn .title {
    font-size: 18px;
    line-height: 24px;
    padding: 15px 50px 15px 20px;
  }
  .box .container .accordion .accordionColumn .title::before {
    width: 15px;
    height: 15px;
    background-size: contain;
    right: 20px;
    top: calc(50% - 7.5px);
  }
  .box .container .accordion .accordionColumn .desc {
    font-size: 14px;
    line-height: 24px;
    padding: 15px 20px;
  }
  .box .container .accordion .accordionColumn .desc a {
    font-size: 14px;
    line-height: 24px;
  }
  .box .container .accordion .accordionColumn .desc ul {
    padding: 0 0 0 10px;
  }
  .box .container .accordion .accordionColumn .desc ul li {
    font-size: 14px;
    line-height: 24px;
  }
}
